/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: rgba(255, 66, 165, 0.03);
}

.gradient-heading {
    font-size: 50px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

/* navbar section styles */
header {
    border: none;
}

.nav-container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: rgba(255, 66, 165, 0.03);
}


/* logo section styles */
.logo-img-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-img-container img {
    margin-right: 20px;
}

.logo-img-container h1 {
    font-size: 55px;
    font-weight: 700;
    color: #6e33f7;
    cursor: pointer;
}


/* nav menu section styles */

.menu-container {
    width: 50%;
}

.menu-container ul {
    list-style: none;
    color: black;
    display: flex;
    gap: 40px;
    justify-content: right;
}

.menu-container li a {
    text-decoration: none;
    color: #6e33f7;
    font-size: 20px;
    font-weight: 500;
}


.btn-follow-us-on {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    border-radius: 8px;
    font-weight: 500;
    color: #3C354F;
    text-align: center;
}


.menu-container i {
    margin-left: 15px;

}




/* banner section styles */
.banner-container {
    max-width: 1440px;
    background-color: #fff;
    background-image: url("./images/Group 14.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 20px 40px 0px 40px;
}

.banner-content {
    width: 50%;
}

.banner-content h2 {
    color: #F948B2;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;

}

.banner-content p {
    color: #534C64;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}

.banner-button button {
    border: none;
    color: #fff;
    border-radius: 45px;
    padding: 20px 38px;
    font-size: 20px;
    font-weight: 600;
}

.btn-sign-in {
    margin-right: 24px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    display: block;
}




/* gamer section styles */
.gamer-content {
    text-align: right;
}

.gamer-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 66, 165, 0.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 20px 55px 0px;
}

.gamer-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #534C64;
    margin: 25px 0px 30px;
}

.unleash {
    color: #F948B2;
    font-size: 32px;
    font-weight: 700;
}






/* funny video section styles */
.funny-videos-section {
    max-width: 1440px;
    margin: 120px auto 0px;
}

.funny-videos-section h2,
.funny-videos-section p {
    text-align: center;
}

.funny-videos-section h2 {
    color: #F948B2;
    font-size: 48px;
    font-weight: 700;
}

.funny-videos-section>p {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 50px;
    color: #534C64;
    line-height: 30px;
}

.videos-container {
    display: flex;
    justify-content: space-between;
}


.videos-content {
    border-radius: 15px;
    max-width: 340px;
    position: relative;
    overflow: hidden;
}

.videos-content p {
    text-align: left;
    margin-top: 10px;

}

.videos-content img {
    width: 100%;
    height: auto;
}

.videos-content:hover .image-cover {
    top: 0;

}

.image-cover {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 90%;
    color: #fff;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #6e33f7;

}

.image-cover i {
    font-size: 60px;
    color: white;
    margin: 40% 40%;
}

.image-cover p {
    margin-left: 30%;
    margin-bottom: 30%;
    color: #F948B2;
    font-size: 25px;
    font-weight: 600;
}






/* online games section styles */
.online-games-container {
    max-width: 1440px;
    margin: 120px auto 80px;
    display: flex;

}

.online-games-content {
    width: 50%;
    padding: 180px;
    text-align: right;
}

.online-games-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 360px;
    color: #534C64;
    margin-top: 25px;
    text-align: right;
}

.online-games-content h2 {
    font-size: 48px;
    color: #F948B2;
    font-weight: 700;
    line-height: 60px;
}

.online-games-img-container {
    width: 50%;
    position: relative;
}


.player-image-small {
    width: 300px;
    position: absolute;
    top: 366px;
    right: 559px;
}




/* careers section styles */
.careers-section {
    background-color: #F948B2;

}

.careers-container {
    color: #fff;
    max-width: 1440px;
    background-image: url("./images/Group 65.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto 0;
}

.career-content {
    width: 50%;
    padding: 100px 20px;
}

.career-content h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
}

.career-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
    display: block;
}

.career-btn button {
    border: none;
    color: #F948B2;
    background-color: #fff;
    border-radius: 45px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.career-paragraph {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}

/* category section styles */
.category-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0px;
}

.category-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}

.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #fff;
    padding: 8px 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.category img {
    margin-right: 20px;
}

.category:hover {
    border: 2px solid #F948B2;
}

.category:hover p {
    color: #F948B2;
}

.category-content p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}





/* footer section styles */
footer {
    background-color: #8758F1;
    padding: 100px 0px;
}

.logo-container {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.logo-container img {
    margin-right: 20px;
}

footer ul {
    margin: 55px auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 55%;
}

footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.footer-icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin: 65px auto 75px;
    cursor: pointer;

}

.footer-icon i {
    color: #fff;
}

h1:hover {
    color: #F948B2;
}


.settings-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0px auto 35px;

}

.settings-tags a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

footer ul li a:hover {
    color: #F948B2;
}

.footer-icon i:hover {
    color: #F948B2;
}

.settings-tags a:hover {
    color: #F948B2;
}


footer p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}




/* responsive style for small device */

@media screen and (max-width:425px) {

    .nav-container,
    .menu-container ul,
    .logo-img-container,
    .banner-container,
    .gamer-container,
    footer ul,
    .videos-container,
    .careers-container,
    .online-games-container {
        flex-direction: column;
    }


    .logo-img-container img {
        margin: 0px;
    }

    .nav-container {
        margin: 0px;
    }

    .btn-follow-us-on {
        padding: 10px;

    }

    .gamer-container {
        padding: 20px;
    }

    .banner-container {
        padding: 0px;
        flex-direction: column-reverse;
    }


    .banner-content {
        text-align: center;
        width: 100%;
        padding: 50px;
    }

    .banner-content h1 {
        font-size: 80px;
    }

    .banner-content h2 {
        font-size: 40px;
    }


    .banner-content p {
        text-align: left;
        margin-left: 20px;
        font-size: 15px;
    }


    .banner-button button {
        padding: 10px 20px;
        font-size: 15px;
    }

    .banner-img {
        width: 100%;
        padding: 20px;
    }


    .funny-videos-section {
        margin: 70px auto;
        padding: 10px;
    }

    .funny-videos-section h2 {
        font-size: 25px;
    }

    .funny-videos-section .gradient-heading {
        font-size: 25px;
    }

    .funny-videos-section p {
        font-size: 15px;
    }

    .gamer-img img {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .gamer-content p {
        line-height: 30px;
        font-size: 15px;
    }

    .unleash {
        margin-top: 50px;
    }

    .menu-container {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .videos-content p {
        text-align: center;
        margin-bottom: 25px;
    }

    .online-games-content {
        padding: 10px;
    }


    .videos-content {
        margin: 0 auto;
    }

    .online-games-container {
        margin-top: 0px;
        margin-bottom: 100px;
        width: 100%;
    }

    .online-games-content,
    .online-games-content p {
        width: 100%;
        text-align: center;
    }

    .online-games-content p {
        font-size: 15px;
        padding: 20px;
    }

    .online-games-img-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .player-image-big {
        width: 90%;
        padding: 30px;
        justify-content: right;
    }

    .player-image-small {
        width: 30%;
        position: absolute;
        top: 288px;
        left: 8px;
    }

    .career-content {
        width: 100%;
        padding: 20px;
        text-align: left;
    }

    .career-content h2 {
        font-size: 40px;
    }

    .career-content>p {
        font-size: 15px;
        line-height: 25px;
        text-align: justify;
    }

    .career-btn {
        text-align: center;
    }

    .career-img {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
    }

    .category-container {
        width: 100%;
        margin: 50px auto;
        padding: 10px;
    }

    .category-content {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 5px;
    }

    .category {
        padding: 2px;
        justify-content: flex-start;
    }

    .category img {
        width: 20%;
        margin-right: 5px;
    }

    .category-content p {
        color: #0B0223;
        font-size: 10px;
        font-weight: 300;
    }


    .logo-container {
        font-size: 30px;
    }

    footer {
        padding: 20px;
    }

    footer ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px 0px;
        text-align: center;
        width: 100%;
        row-gap: 30px;
    }

    footer li a {
        font-size: 18px;

    }

    .footer-icon {
        width: 100%;
        margin: 30px auto;
    }

    .settings-tags {
        text-align: center;
        width: 100%;
    }
}







/* responsive style for medium device */

@media screen and (min-width:425px) and (max-width:768px) {

    .nav-container,
    .online-games-container,
    .careers-container,
    .gamer-container {
        flex-direction: column;
    }

    .logo-img-container,
    .menu-container,
    .online-games-img-container {
        width: 100%;
    }

    .menu-container ul,
    .logo-img-container {
        justify-content: center;
    }

    .menu-container {
        margin-top: 30px;
    }

    .btn-follow-us-on {
        padding: 10px 20px;
    }


    .banner-container {
        padding: 30px 15px 0px 15px;
    }

    .banner-content h2 {
        font-size: 45px;
    }

    .banner-content h1 {
        font-size: 88px;
        margin-bottom: 15px;
    }

    .banner-content p {
        font-size: 15px;
        margin-bottom: 16px;
    }

    .banner-button button {
        padding: 10px 25px;
        font-size: 18px;
    }

    .btn-sign-in {
        margin-right: 5px;
    }

    .gamer-content {
        text-align: center;
    }

    .gamer-container {
        padding: 25px 0px 0px;
    }

    .funny-videos-section {
        margin: 85px auto 0px;
    }

    .videos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 45px;
        justify-items: center;
    }

    .online-games-container {
        margin: 120px auto 200px;
    }

    .online-games-content {
        padding: 0px;
        width: 100%;
    }

    .online-games-content h2 {
        text-align: center;
    }

    .online-games-content p {
        text-align: center;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 45px;
    }

    .online-games-img-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .player-image-small {
        top: 455px;
        right: 250px;
    }

    .career-content {
        width: 100%;
        padding: 30px 20px;
    }

    .career-content h2,
    .career-content>p {
        text-align: center;
    }

    .career-paragraph {
        justify-content: space-around;
    }

    .career-btn {
        text-align: center;
    }

    .career-btn button {
        padding: 12px 25px;
        font-size: 18px;
    }

    .category-container {
        padding: 100px 0px;
    }

    .category-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 5px;
    }

    .category{
        padding: 5px;
    }
    .category img {
        margin-right: 5px;
    }

    .category-content p {
        font-size: 14px;
    }

    footer{
        padding: 50px 0px;
    }

    .logo-container{
        font-size: 30px;
    }

    footer ul{
        width: 100%;
        margin: 35px auto;
    }

    .footer-icon{
        width: 50%;
        margin: 45px auto;
    }

    .settings-tags{
        width: 80%;
        margin: 0px auto 35px;
    }

}